/*style of the body*/
body
{
    background: midnightblue;
}

/*style of the window's header*/
.header_of_window
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    height: 50px;
    border: 1px solid #AAAAAA;
    background: midnightblue;
}

/*this ensures that the window title is not too close to the window border*/
.header_of_window h1
{
    margin-left: 10px;
}

/*style of the window with setting a dark mode for it*/
.table_editor_app
{
    color: white;
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
    background: rgb(32,32,32);
}

/*style of the buttons in the window's header*/
.header_of_window button
{
    background: midnightblue;
    border: 1px solid midnightblue;
}

/*if the user moves the cursor to the button*/
.header_of_window button:hover
{
    cursor: pointer;
}

/*style of the header button folder*/
.header_of_window div
{
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin-right: 10px;
}

/*Font-awesome style*/
.fa-window-minimize, .fa-window-restore, .fa-window-close
{
    font-size: 30px;
    color: white;
}

/*style of the window's body*/
.body_of_window
{
    display: flex;
    justify-content: space-between;
    min-height: 800px;
    width: 100%;
}

/*this ensures that the editor tools are above the editor interface*/
.new_look
{
    display: flex;
    flex-direction: column;
    width: 80%;
}

/*style of the editor tools section*/
.editor_tools
{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #CCCCCC;
}

/*style of the folder, which has the bold, italic and underline style buttons*/
.font_style_options
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid #CCCCCC;
}

/*style of the forementioned buttons*/
.font_style_options button
{
    width: 150px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*if the user moves the cursor to the button*/
.font_style_options button:hover
{
    cursor: pointer;
    background: gold;
}

/*bold font option*/
#bold_weight
{
    font-weight: bold;
}

/*italic font option*/
#italic_font
{
    font-style: italic;
}

/*underline font option*/
#underscore_line
{
    text-decoration: underline;
}

/*style of the font align options buttons' folder*/
.font_align_options
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid #CCCCCC;
}

/*style of the forementioned buttons*/
.font_align_options button
{
    width: 150px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*if the user moves the cursor to the button*/
.font_align_options button:hover
{
    cursor: pointer;
    background: gold;
    font-weight: bold;
}

/*style of the font size options buttons' folder*/
.font_size_options
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid #CCCCCC;
}

/*style of the forementioned buttons*/
.font_size_options button
{
    width: 50px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}

/*if the user moves the cursor to the button*/
.font_size_options button:hover
{
    cursor: pointer;
    background: gold;
    font-weight: bold;
}

/*style of the font background options buttons' folder*/
.font_background_options
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid #CCCCCC;
}

/*made for the new design look*/
.font_background_options div
{
    display: flex;
}

/*style of the forementioned buttons*/
.font_background_options button
{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

/*if the user moves the cursor to the button*/
.font_background_options button:hover
{
    cursor: pointer;
}

/*color values for either background or font color*/
#red_background, #red_font
{
    background: red;
}

#green_background, #green_font
{
    background: green;
}

#blue_background, #blue_font
{
    background: blue;
}

#yellow_background, #yellow_font
{
    background: yellow;
}

#brown_background, #brown_font
{
    background: brown;
}

#orange_background, #orange_font
{
    background: orange;
}

#purple_background, #purple_font
{
    background: purple;
}

#gray_background, #gray_font
{
    background: gray;
}

/*style of the font color options buttons' folder*/
.font_color_options
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid #CCCCCC;
}

/*made for the new design look*/
.font_color_options div
{
    display: flex;
}

/*style of the forementioned buttons*/
.font_color_options button
{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

/*if the user moves the cursor to the button*/
.font_color_options button:hover
{
    cursor: pointer;
}

/*style of the editor interface, the user can scroll to take a look at the other cells*/
.editor_interface
{
    width: 100%;
    overflow-x: scroll;
}

/*style of the table, border-collapse ensures the stable look*/
table, th, td
{
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
}

/*table layout fixed goes in pair with the overflow property*/
table
{
    width: 100%;
    table-layout: fixed;
}

/*table headers and cells are equal sized*/
th, td
{
    width: 150px;
    height: 25px;
}

/*table header content is center aligned and it can be edited*/
th
{
    text-align: center;
}

/*style of the cell function buttons' folder*/
.functions_for_table
{
    width: 20%;
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*style of the forementioned buttons*/
.functions_for_table button
{
    height: 30px;
    width: 55%;
    font-size: 24px;
    margin-top: 10px;
    border-radius: 5px;
}

/*if the user moves the cursor to the button*/
.functions_for_table button:hover
{
    font-weight: bold;
    cursor: pointer;
    background: gold;
}

/*style of the function description section*/
.function_description
{
    font-size: 24px;
    margin: 10px;
}