body {
  /*Az egész oldal háttérszíne*/
  /*background-color: aliceblue;*/
  background-image: url("Gimpsky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*#kommunikacio div {
  width: 300px;
  height: 100px;
  background-color: lightsteelblue;
  color: black;
  position: relative;
  display: inline-block;
  top: 110px;
}*/

table {
  font-size: 20px;
  color: black;
  position: relative;
  left: 800px;
  top: 100px;
}

/*#logokep {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 20%;
  border: 1px solid azure;
}*/

/*bal logókép*/
#ballogo {
  position: fixed;
  top: 212px;
  right: 0px;
  width: 20%;
  border: 1px solid azure;
}

/*jobb logókép*/
#jobblogo {
  position: fixed;
  top: 212px;
  left: 0px;
  width: 20%;
  border: 1px solid azure;
}

/*A magyar nyelvre váltó gomb stílusa*/
#magyar {
  width: 50px;
  height: 30px;
  background-image: url("Zaszlok/Flag_of_Hungary.svg.webp");
  background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

/*Az angol nyelvre váltó gomb stílusa*/
#angol {
  width: 50px;
  height: 30px;
  background-image: url("Zaszlok/Flag_of_the_United_Kingdom_\(3-5\).svg.png");
  background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

#gombtarolo {
  position: absolute; /*Ezzel van elérve az, hogy a jobb felső sarokba lehessen tenni*/
  right: 0px;
  top: 0px;
}

/*A bemenet mezők stílusa*/
input {
  width: 200px;
}

/*Az elérhetőségi email címet tartalmazó tároló stílusa*/
/*#kommunikacio {
  display: inline;
  justify-content: space-between;
  width: 600px;
  background-color: lightsteelblue;
  position: relative;
  left: 650px;
  font-size: 18px;
}*/

form {
  background-color: #e7e7e7;
  width: 1000px;
  height: 700px;
  position: relative;
  left: 450px;
  top: 110px;
  font-size: 20px;
  color: black;
}

/*Az email küldése gomb stílusa*/
#bekuldo {
  width: 175px;
  height: 75px;
  font-size: 20px;
  border-radius: 25px;
  position: relative;
  bottom: 78px;
  left: 552px;
}

/*A kurzor mutatóvá válik a gombra mozdításkor*/
#bekuldo:hover {
  cursor: pointer;
}

/*A kurzor mutatóvá válik a gombra mozdításkor*/
button:hover {
  cursor: pointer;
}

/*A lábléc stílusa*/
/*A left 0 és a bottom 0 éri el azt, hogy végig alul maradjon*/
#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lightsteelblue;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*Az alap gombok stílusa*/
button {
  width: 200px;
  height: 75px;
  font-size: 20px;
}

/*A kurzor mutatóvá válik a gombra mozdításkor*/
button:hover {
  cursor: pointer;
}

/*A menügombok tárolójának stílusa*/
#menugombok {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
  align-items: center;
  left: 350px;
  top: 0px;
  width: 1200px;
  height: 120px;
  /*border: 1px solid azure;*/
  /*background-color: lightgrey;*/
}

#menugombok button {
  border-radius: 25px;
}

/*laptop nézet*/
@media only screen and (max-width: 992px) {
  /*A menügombok tárolójának stílusa*/
  #menugombok {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
    align-items: center;
    left: 40px;
    top: 30px;
    width: 900px;
    height: 120px;
    /*border: 1px solid azure;*/
    /*background-color: lightgrey;*/
  }

  /*Az elérhetőségi email címet tartalmazó tároló stílusa*/
  #kommunikacio {
    display: inline-flex;
    justify-content: space-between;
    width: 400px;
    background-color: lightsteelblue;
    position: relative;
    left: 350px;
    font-size: 16px;
  }

  form {
    background-color: #e7e7e7;
    width: 400px;
    height: 687px;
    position: relative;
    left: 280px;
    font-size: 16px;
  }

  /*Az email küldése gomb stílusa*/
  #bekuldo {
    width: 175px;
    height: 75px;
    font-size: 20px;
    border-radius: 25px;
    position: relative;
    bottom: 0px;
    left: 0px;
  }

  table {
    font-size: 20px;
    color: black;
    position: relative;
    left: 300px;
    top: 115px;
  }
}
/*mobil nézet*/
@media only screen and (min-width: 200px) and (orientation: portrait) {
  /*A menügombok tárolójának stílusa*/
  #menugombok {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
    align-items: center;
    left: 0px;
    bottom: 250px;
    width: 100px;
    height: 300px;
    border: 1px solid azure;
    background-color: lightgrey;
  }

  /*Az alap gombok stílusa*/
  button {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  /*Az elérhetőségi email címet tartalmazó tároló stílusa*/
  #kommunikacio {
    display: inline-flex;
    justify-content: space-between;
    width: 100px;
    background-color: lightsteelblue;
    position: relative;
    left: 0px;
    font-size: 10px;
  }

  form {
    background-color: lightgrey;
    width: 170px;
    height: 680px;
    position: relative;
    left: 100px;
    font-size: 16px;
  }
  .egyebadat {
    width: 150px;
  }

  /*Az email küldése gomb stílusa*/
  #bekuldo {
    width: 100px;
    height: 40px;
    font-size: 12px;
    border-radius: 25px;
    position: relative;
    bottom: 0px;
    left: 0px;
  }

  textarea {
    width: 220px;
  }

  #footer {
    display: none;
  }
}
