body {
  /*Az egész oldal háttérszíne*/
  /*background-color: aliceblue;*/
  background-image: url("Gimpsky.png");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  /*filter: blur(0px);*/
}

/*#hatterkep {
  width: 100%;
  filter: blur(3px);
  position: relative;
}*/

h1 {
  /*A cím középre igazítása*/
  text-align: center;
  background-color: lightskyblue;
  width: 1750px;
  height: 60px;
  position: fixed;
  top: 0;
}

/*A főoldal képének stílusa*/
#fokep {
  position: fixed;
  top: 200px;
  right: 460px;
  width: 52%;
  border: 1px solid azure;
}

/*bal logókép*/
#ballogo {
  position: fixed;
  top: 320px;
  right: 0px;
  width: 20%;
  border: 1px solid azure;
}

/*jobb logókép*/
#jobblogo {
  position: fixed;
  top: 320px;
  left: 0px;
  width: 20%;
  border: 1px solid azure;
}

/*Az alap gombok stílusa*/
button {
  width: 200px;
  height: 75px;
  font-size: 20px;
}

/*A kurzor mutatóvá válik a gombra mozdításkor*/
button:hover {
  cursor: pointer;
}

/*A menügombok tárolójának stílusa*/
#menugombok {
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
  align-items: center;
  left: 350px;
  top: 65px;
  width: 1200px;
  height: 120px;
  /*border: 1px solid azure;*/
  /*background-color: lightgrey;*/
}

#menugombok button {
  border-radius: 25px;
}

/*A lábléc stílusa*/
/*A left 0 és a bottom 0 éri el azt, hogy végig alul maradjon*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lightskyblue;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#keszito {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}

#keszito p {
  position: relative;
  top: 8px;
}

#keszito a {
  color: midnightblue;
}

/*A magyar nyelvre váltó gomb stílusa*/
#magyar {
  width: 50px;
  height: 30px;
  background-image: url("Zaszlok/Flag_of_Hungary.svg.webp");
  background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

/*Az angol nyelvre váltó gomb stílusa*/
#angol {
  width: 50px;
  height: 30px;
  background-image: url("Zaszlok/Flag_of_the_United_Kingdom_\(3-5\).svg.png");
  background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

#gombtarolo {
  position: absolute; /*Ezzel van elérve az, hogy a jobb felső sarokba lehessen tenni*/
  right: 0px;
  top: 0px;
}

/*test*/
/*full HD resolution: 1920 x 1080 */
/*laptop resolution: 1280 x 802 */
/*tablet resolution: 768 x 1024 */
/*mobile resolution: 320 x 480 */

/*laptop nézet*/
@media only screen and (max-width: 992px) {
  h1 {
    width: 800px;
  }

  /*A főoldal képének stílusa*/
  #fokep {
    position: fixed;
    top: 140px;
    right: 15px;
    width: 70%;
    border: 1px solid azure;
  }

  /*Az alap gombok stílusa*/
  button {
    width: 200px;
    height: 75px;
    font-size: 20px;
  }

  /*A menügombok tárolójának stílusa*/
  #menugombok {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
    align-items: center;
    left: 0px;
    bottom: 10px;
    width: 280px;
    height: 650px;
    border: 1px solid azure;
    background-color: lightgrey;
  }

  /*A lábléc stílusa*/
  /*A left 0 és a bottom 0 éri el azt, hogy végig alul maradjon*/
  #footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: lightsteelblue;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

/*mobil nézet*/
@media only screen and (min-width: 200px) and (orientation: portrait) {
  h1 {
    width: 170px;
    font-size: 30px;
  }

  /*A főoldal képének stílusa*/
  #fokep {
    position: fixed;
    top: 140px;
    right: 15px;
    width: 70%;
    border: 1px solid azure;
  }

  /*A menügombok tárolójának stílusa*/
  #menugombok {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
    align-items: center;
    left: 0px;
    bottom: 230px;
    width: 100px;
    height: 300px;
    border: 1px solid azure;
    background-color: lightgrey;
  }

  /*Az alap gombok stílusa*/
  button {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  /*A magyar nyelvre váltó gomb stílusa*/
  #magyar {
    width: 50px;
    height: 30px;
    background-image: url("Zaszlok/Flag_of_Hungary.svg.webp");
    background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
  }

  /*Az angol nyelvre váltó gomb stílusa*/
  #angol {
    width: 50px;
    height: 30px;
    background-image: url("Zaszlok/Flag_of_the_United_Kingdom_\(3-5\).svg.png");
    background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
  }
}
