body{
  background-image: url("20210130hogomb-jeg-szappanbuborek.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*A lábléc stílusa*/
/*A left 0 és a bottom 0 éri el azt, hogy végig alul maradjon*/
#footer
{
  position: relative;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lightslategrey;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#gombtarolo
{
    position: absolute; /*Ezzel van elérve az, hogy a jobb felső sarokba lehessen tenni*/
    right: 0px;
    top: 0px;
}
/*A magyar nyelvre váltó gomb stílusa*/
#magyar
{
    width: 50px;
    height: 30px;
    background-image: url("Flag_of_Hungary.svg.webp");
    background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

#magyar:hover
{
  cursor: pointer;
}

/*Az angol nyelvre váltó gomb stílusa*/
#angol
{
    width: 50px;
    height: 30px;
    background-image: url("Flag_of_the_United_Kingdom_(3-5).svg.png");
    background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

#angol:hover
{
  cursor: pointer;  
}

a:link
{
  color: orangered;
}

a:hover
{
  color: yellow;
}

a:visited
{
  color: greenyellow;
}

.mottocell
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#elsoadat01
{
  display: flex;
  justify-content: center;
}

#elsoadat02 h1
{
  text-align: center;
}

#firstprojectrow , #secondprojectrow
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
}

.projectbox
{
  width: 30%;
  height: 500px;
  border: 3px solid skyblue;
  display: flex;
  flex-direction: column;
}

.projectname
{
  text-align: center;
}

.projectbox img
{
  width: 200px;
  height: 200px;
  margin: auto;
}

.projectbox p, .toollist
{
  padding-left: 5px;
}

.tech_list
{
  display: flex;
  justify-content: space-around;
}

.tech_used
{
  text-align: center;
}

#tech_fonts
{
  font-size: 50px;
}

.projectlink
{
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

/*mobil méret*/
/*first size = 768px*/
/*second size = 600px*/
/*third size = 200px*/
@media only screen and (max-width: 600px) and (orientation: portrait)
{
  #gombtarolo
  {
    width: 30%;
  }

  #footer
  {
    width: 100%;
  }

  img
  {
    width: 100%;
  }

  #mottotitle
  {
    font-size: 20px;
  }

  .schoolcell
  {
    height: 100%;
    width: 100%;
  }

  #portfoliosection
  {
    width: 100%;
  }

  #firstprojectrow, #secondprojectrow
  {
    width: 100%;
  }

  .projectbox
  {
    width: 30%;
  }

  .projectbox img
  {
    width: 90%;
  }

  #tech_fonts
  {
    font-size: 20px;
  }

  .tech_used h3
  {
    font-size: 10px;
  }

  .projectlink
  {
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    position: relative;
    bottom: 2%;
  }
}