form
{
    display: block;
    border: 1px solid black;
    width: 500px;
}

#jsonbtn
{
    border-radius: 5px;
    height: 40px;
}

#jsonbtn:hover
{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
}

#jsontext
{
    font-size:20px;
}