body
{
    background: rgb(32, 32, 32);
    color: white;
    font-size: 22px;
}

.game
{
    border: 1px solid #cccccc;
    width: 70%;
    margin: auto;
    min-height: 700px;
}

.menu
{
    border-bottom: 1px solid #cccccc;
    width: 100%;
    min-height: 100px;
    display: flex;
}

.options
{
    padding-left: 10px;
    display: flex;
}

.options p:hover
{
    cursor: pointer;
}

#reset_game:hover, #new_round:hover
{
    border: 1px solid #aaaaaa;
    cursor: pointer;
}

#toggle_menu
{
    display: none;
}

#situation_message
{
    border-right: 1px solid #cccccc;
    width: 50%;
    padding: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: blue;
}

.playground
{
    width: 23%;
    min-height: 305px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.square
{
    width: 100px;
    height: 100px;
    border: 1px solid #dddfff;
    padding: 0px;
    margin: auto;
}

.square:hover
{
    cursor: pointer;
}

.gamestats
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-height: 200px;
    align-items: center;
    border-top: 1px solid #cccccc;
}

#player_1_wins
{
    background: blue;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 26px;
}

#ties
{
    background: green;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 26px;
}

#player_2_wins
{
    background: orange;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 26px;
}