/*major style of the buttons*/
button
{
    width: 100px;
    height: 50px;
}

/*style of the chooser buttons*/
.fa-reply, .fa-share
{
    font-size: 30px;
}

/*style of the page background*/
#chosebackground
{
    width: 1000px;
    height: 800px;
}

#characterchoice
{
    display: inline-block;
}

/*style of the hero image*/
#thehero
{
    width: 300px;
    height: 600px;
    position: relative;
    bottom: 650px;
    left: 20px;
}

/*the player can go back with this button*/
#leftway
{
    position: fixed;
    bottom: 165px;
    left: 350px;
    border: 1px solid black;
}

#leftway:hover
{
    cursor: pointer;
    background-color: midnightblue;
    color: white;
}

/*the player can go further with this button*/
#rightway
{
    position: fixed;
    bottom: 165px;
    left: 450px;
    border: 1px solid black;
}

#rightway:hover
{
    cursor: pointer;
    background-color: midnightblue;
    color: white;
}

/*style of the header*/
h1
{
    position: absolute;
    top: 250px;
}

/*style of the hero description*/
#characterdescription
{
    position: fixed;
    width: 390px;
    height: 700px;
    background: whitesmoke;
    top: 50px;
    left: 600px;
}

/*style of the New game button*/
#gamestarter
{
    position: relative;
    width: 200px;
    height: 100px;
    left: 100px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 30px;
    top: 40px;
}

#gamestarter:hover
{
    cursor: pointer;
    background-color: midnightblue;
    color: white;
}

/*style of the Load game button*/
#loadsave
{
    position: relative;
    top: 50px;
    width: 200px;
    height: 100px;
    left: 100px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 30px;
}

#loadsave:hover
{
    cursor: pointer;
    background-color: midnightblue;
    color: white;
}

/*Style of the Options button*/
#options
{
    position: relative;
    top: 60px;
    width: 200px;
    height: 100px;
    left: 100px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 30px;
}

#options:hover
{
    cursor: pointer;
    background-color: midnightblue;
    color: white;
}

/*additional helper style for the major buttons*/
#majorbuttons
{
    position: fixed;
    width: 300px;
    height: 400px;
    top: 370px;
}