body {
  background-color: aliceblue;
}

/*A magyar nyelvre váltó gomb stílusa*/
#magyar {
  width: 50px;
  height: 30px;
  background-image: url("Zaszlok/Flag_of_Hungary.svg.webp");
  background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

/*Az angol nyelvre váltó gomb stílusa*/
#angol {
  width: 50px;
  height: 30px;
  background-image: url("Zaszlok/Flag_of_the_United_Kingdom_\(3-5\).svg.png");
  background-size: cover; /*Ezzel van biztosítva, hogy a kép a gomb mérethez igazodjon*/
}

#gombtarolo {
  position: absolute; /*Ezzel van elérve az, hogy a jobb felső sarokba lehessen tenni*/
  right: 0px;
  top: 0px;
}

/*Az alap gombok stílusa*/
button {
  width: 200px;
  height: 75px;
  font-size: 20px;
}

/*A kurzor mutatóvá válik a gombra mozdításkor*/
button:hover {
  cursor: pointer;
}

/*A menügombok tárolójának stílusa*/
#menugombok {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
  align-items: center;
  left: 0px;
  bottom: 145px;
  width: 350px;
  height: 700px;
  border: 1px solid azure;
  background-color: lightgrey;
}

#menugombok button {
  border-radius: 25px;
}

#logokep {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 20%;
  border: 1px solid azure;
}

#profil {
  border: 1px solid azure;
  position: relative;
  left: 770px;
}

#kezdokepek {
  display: flex;
  justify-content: space-between;
}

/*A lábléc stílusa*/
/*A left 0 és a bottom 0 éri el azt, hogy végig alul maradjon*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lightsteelblue;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#szoveghez {
  font-size: 20px;
  position: relative;
  left: 770px;
  width: 500px;
  color: black;
}

/*laptop nézet*/
@media only screen and (max-width: 992px) {
  #szoveghez {
    font-size: 16px;
    position: relative;
    left: 400px;
    width: 350px;
  }

  #profil {
    border: 1px solid azure;
    position: relative;
    left: 400px;
  }

  /*A menügombok tárolójának stílusa*/
  #menugombok {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
    align-items: center;
    left: 0px;
    bottom: 50px;
    width: 350px;
    height: 700px;
    border: 1px solid azure;
    background-color: lightgrey;
  }
}

/*mobil nézet*/
@media only screen and (min-width: 200px) and (orientation: portrait) {
  /*A menügombok tárolójának stílusa*/
  #menugombok {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around; /*Ezzel van elérve az, hogy a gombok között térköz van*/
    align-items: center;
    left: 0px;
    bottom: 250px;
    width: 100px;
    height: 300px;
    border: 1px solid azure;
    background-color: lightgrey;
  }

  /*Az alap gombok stílusa*/
  button {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  #szoveghez {
    font-size: 16px;
    position: relative;
    left: 100px;
    width: 180px;
    z-index: 1;
  }

  #profil {
    border: 1px solid azure;
    position: relative;
    left: 100px;
    width: 30%;
  }
}
